<div class="ui container">
<div class="ui top attached ">
  <h2 class="ui center aligned icon header">
    <i class="circular text telephone icon"></i>
      Cadastro de Telefones
  </h2>  
</div>
<%= render "form" %>
</div>