<i class="close icon"></i>
  <div class="header">
    Contact of <%= @friend.name %>
  </div>
    <div class="content">
      <h2 class="ui dividing header">Edit Informations</h2>
      <%= render 'form' %>
    </div>


  <div class="actions">
    <div class="ui black deny button">
      Back
    </div>
  </div>