<div class="ui two column grid centered">
  <div class="column">
    <div class="ui raised segment">
    <a class="ui yellow right ribbon label">New Person</a>
      <div class="column">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
