<div class="ui container">

<div class="ui center aligned icon header">
  <i class="circular add user icon"></i> 
  Adicionando Pessoa
</div>
<%= render 'form' %>

<%= link_to 'Back', people_path %>
</div>