
$('.modal_person').html("<%= j render 'modal_show' %>");
$('.modal_person').modal('show');


jQuery.getJSON("<%= person_phones_path(@person) %>", function(data) {
    // aqui o json jรก carregou e pode ser acessado como "dados"

    var items = [];

    $.each(data, function(key, val) {
      items.push('<tr><td id="number_' + val['id'] + '">' + val['number'] + 
        '</td><td id="default_' + val['id'] + '">' + val['default'] + '</td>'+
        '<td><%= link_to "Edit", edit_person_phone_path(@person, 17), remote: true %></td>'+
        '<td><%= link_to "Delete", person_phone_path(@person,'parseInt(17)'), method: :delete, data: { confirm: "Are you sure?" }, remote: true %></td></tr>');
    });

    $('<tbody/>', {
      'class': 'table-phones',
      html: items.join('')
    }).appendTo('.table-phones');
 
});
