<i class="close icon"></i>
  <div class="header">
    Friend of <%= @person.name %>
  </div>
  <div class="content">
    <h2 class="ui dividing header">Create New Friend</h2>
    <%= render 'form' %>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Back
    </div>
  </div>