jQuery.getJSON("<%= person_friend_contacts_path(@person, @friend) %>", function(data) {
    // aqui o json já carregou e pode ser acessado como "dados"

    // var items = [];
    // $.each(data, function(key, val) {
    //   items.push('<tr><td id="type_' + val['id'] + '">' + val['tipo'] + 
    //     '</td><td id="value_' + val['id'] + '">' + val['value'] + '</td>'+
    //     '<td><%= link_to "Edit", edit_person_phone_path(@person, 17), remote: true %></td>'+
    //     '<td><%= link_to "Delete", person_phone_path(@person,'parseInt(17)'), method: :delete, data: { confirm: "Are you sure?" }, remote: true %></td></tr>');
    // });
    $.each(data, function(i, k) {

      // em cada loop de $.each, k será uma
      // alert(json);
      $("#contatos").append(new Option(k.valor, k.id));
    });

         

    // $('<tbody/>', {
    //   'class': 'table-contacts',
    //   html: items.join('')
    // }).appendTo('.table-contacts');
  
});