// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_zombie {
  border: 1px dashed gray;
    .field#bio {
    display: none;
  }

  input.submit {
    background-image: url(<%= asset_path('button.png') %>);
  }
}