<!DOCTYPE html>
<html>
<head>
  <title>Web514</title>

  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  

  <%= csrf_meta_tags %>
</head>
<body>

	<div class="fundo">
		<%= yield %>
	</div>

</body>
</html>
